/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* 
body {
  background-image: url('../public/background.jpg') !important;

  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
}
 */
.text-danger {
  color: rgb(243, 50, 50);
  font-size: small;
  letter-spacing: 0.2em;
  margin-top: 0.6em;
}

